---
apiVersion: v1
kind: Service
metadata:
  annotations:
    fabric8.io/ingress.annotations: |-
      ingress.kubernetes.io/force-ssl-redirect: false
      kubernetes.io/ingress.class: {{ .Values.appimage.service.ingressClass }}
  labels:
    expose: "true"
    app: {{ template "fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
    version: 1.0.0
  name: {{ .Chart.Name }}
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30001
    name: http
  selector:
    app: {{ template "fullname" . }}